/*Geral*/
*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color:#333;
}

button{
    background-color: #fdfdfd;
    color: #102f5e ;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button:hover{
    background-color: #102f5e;
    color: #fff;
}
button:hover > i{
    color: #fff;
}
button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none; /* se clicar no icone, é como se clicasse */
}


body{
    background-color: black;
}
input, select{
    padding: 0.25rem;
}
.hide{
    display: none;
}
.todo-container{
    max-width: 500px;
    min-height: 40vh;
    margin: 3rem auto 0;
    padding: 1.5rem;
    background-color: rgb(53, 137, 137);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px
}
.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    font-size: 30px;
}

/* Todo Form */
#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control{
    display: flex;
}
.form-control input{
    margin-right: 0.5rem;
}
#cancel-edit-btn{
    margin-top: 1rem;
}

/* Todo toolbar */
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    
}
#search form{
    display: flex;
}
#search-input{
    margin-right: 0.5rem;
}
#search h4{
    padding-bottom: 0.5rem;
}
#filter{
    display: flex;
    padding-top: 1rem;
    justify-content:flex-start
}
#filter h4{
    padding-right: 1rem;
}
#filter-select{
    padding-left: 0.5rem;
}

/* Todo list */
.todo{
    display: flex;
    justify-content:space-around    ;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;,
    transition: 0.3s;
}
.todo h3{
    flex: 1;
    font-size: 0.9rem;
    margin-right: 1rem;
}
.todo button{
    margin-left: 0.3rem;
}
.done{
    background-color: #102f5e;
}
.done h3{
    color: white;
    text-decoration: line-through;
    font-style: italic;
}